@model Allocat.Web.Models.SignUpViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Assets/css/custom/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/custom/pixel-admin.min.css" rel="stylesheet" />
    <link href="~/Assets/css/custom/rtl.min.css" rel="stylesheet" />
   
    <link href="~/Assets/css/custom/themes.min.css" rel="stylesheet" />
   
    <link href="~/Assets/css/lib/pages.min.css" rel="stylesheet" />

    @*<link href="~/Assets/css/lib/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/lib/pages.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/custom/pixel-admin.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/custom/rtl.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/lib/themes.css" rel="stylesheet" type="text/css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body class="theme-default page-signup">
    <div id="page-signup-bg">
        <div class="overlay"></div>
        <img src="~/Assets/image/allocat_bg.jpg" class="img-responsive" style="width:100%; height:100%" alt="">
    </div>
    <div class="signup-container">
        <div class="signup-header">
            <a href="" class="logo"><img src="~/Assets/image/logo.png" style="margin-top: -5px;"></a>
            <div class="slogan">Welcome to Allocat</div>
        </div>
        <div class="signup-form" style="margin-bottom:10px">
            <div class="signup-text">
                <span>Create an account</span>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                <div class="form-group w-icon">
                    @Html.TextBoxFor(model => model.FullName, new { @class ="form-control input-lg", @placeholder = "Full Name" })
                    <span class="fa fa-info signup-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.FullName)
                </div>

                <div class="form-group w-icon">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control input-lg", @placeholder = "User Name" })
                    <span class="fa fa-user signup-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>

                <div class="form-group w-icon">
                    @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control input-lg", @placeholder = "EmailId" })
                    <span class="fa fa-envelope signup-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.EmailId)
                </div>
                <div class="form-group w-icon">
                    @Html.DropDownList("SecurityQuestion", ViewBag.SecurityQuestions as SelectList, "-Select Security Question-", new { @class = "form-control input-lg", @style = "padding-left: 50px;" })
                    @*@Html.TextBoxFor(model => model.SecurityQuestion, new { @class = "form-control input-lg", @placeholder = "Security Question" })*@
                    <span class="fa fa-question signup-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.SecurityQuestion)
                </div>

                <div class="form-group w-icon">
                    @Html.TextBoxFor(model => model.SecurityAnswer, new { @class = "form-control input-lg", @placeholder = "Security Answer" })
                    <span class="fa fa-lock signup-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.SecurityAnswer)
                </div>

                <div class="form-actions">
                    <input type="submit" value="Sign Up" class="signup-btn bg-primary" />
                </div>
            }
        </div>

        <div class="not-a-member" style="text-align: center; font-size: 15px;">
            <a href="@Url.Action("Index", "Account", new { Area = "" })">
                <i class="fa fa-backward signup-form-icon" style="color:#ffffff; padding-right:5px;"></i> <span style="color:#ffffff"> Back To Login</span>
            </a>
        </div>

    </div>

   

    
</body>
</html>